.story {
    width: 75%;
    margin: 0 auto;
    box-shadow : 0 3rem 6rem rgba($color-black, .1);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    position: relative;
    background-color: rgba($color-white, .5);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skewX(0);
    }

    & > * {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;        
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);          // makes the content outside flow according to the specified shape.
        overflow: hidden;
        transform: translateX(-3rem) skewX(12deg);
        
        @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);         
        }

        @include respond(phone) {
            transform: translate(-3rem) skewX(0);
        }
    }

    &__image {
        height: 100%;
        transform: scale(1.2);
        transition: all .2s;
        backface-visibility: hidden;        
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        color: $color-grey-dark;
        opacity: 0; 
        transition: all .2s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image {
        transform: scale(1);
        opacity: 0.3;
    }
}