.u-center-text {
    text-align: center;
}

.u-mb-bg {
    margin-bottom: 8rem;
}

.u-mb-md {
    margin-bottom: 4rem !important;
}

.u-mb-sm {
    margin-bottom: 1.5rem;
}

.u-mt-bg {
    margin-top: 8rem;
}